.form-category {
  margin-bottom: 135px;
}

.items {
  overflow: hidden; /* simple clearfix */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.items .item {
  float: left;
  width: 25%;
}

.items .item {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.item img {
  width: 100%;
  height: 100%;
}
