.search {
  /*margin-bottom: 126px;*/
}

.btn-search a {
  color: #765139;
}

.btn-search a:hover {
  text-decoration: none;
}

.btn-search {
  margin-top: 7px;
  border: 1px solid #f3f2f1;
}

hr.search {
  border: 2px solid #f45656;
  width: 20%;
}

.result {
  margin-bottom: 40px;
}

.result-empty {
  margin-bottom: 65px;
}
