<div class="items">
  <% @category_products.each do |product| %>
  <div class="item">
    <%= image_tag(product.image.url) %>
      <div align="center">
        <p class="red-text"><%= link_to product.name, product_path(product) %></p>
        <p><%= number_to_currency(product.price) %></p>
      </div>
  </div>
  <% end %>
</div>
